/*Extra small devices*/
@media only screen and (max-width: 426px){
    .flex-container{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .flex-container > div{
        display: flex;
        flex-direction: row;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 90%;
        padding: 2%;
        box-shadow: 0 0 5px black;
    }
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        width: 90%;
        padding: 2%;
        box-shadow: 0 0 5px black;
    }
    footer > a{
        display: none;
    }
    footer > img{
        width: 40%;
    }
    footer > div > a > img{
        width: 50px;
    }
    footer > h2:last-child{
        font-size: 15px;
    }
    .flex-container > div > h1{
        font-family: "Audiowide", sans-serif;
        font-size: 2rem;
        color: white;
        text-shadow: 0 0 4px black;
        text-align: center;
    }
    #content > img{
        width: 90%;
        margin-bottom: 0;
    }
    .flex-container > div > img{
        width: 40%;
        height: 10%;
    }
    .flex-container > div > #welcome{
        width: 100%;
        height: 20%;
    }
    #nav > button{
        display: none;
    }
    .flex-container > div > #collapse-nav{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .flex-container > div > #collapse-nav > #icon{
        align-self: flex-end;
        border-width: 10px;
        border-radius: 20px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 35%;
        height: 70%;
        font-size: 25px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .nav-button{
        border-width: 10px;
        border-radius: 20px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 100%;
        margin: 5px;
        font-family: "Audiowide", sans-serif;
        font-size: 100%;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article{
        width: 93%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > img{
        width: 90%;
        height: 100%;
    }
    .flex-container > article > h1{
        font-family: "Audiowide", sans-serif;
        font-size: 2rem;
        color: white;
        text-shadow: 0 0 4px black;
        padding: 0%;
    }
    .flex-container > article > p{
        font-family: "Audiowide", sans-serif;
        font-size: 100%;
        text-align: center;
    }
    .flex-container> article > button{
        width: 30%;
        height: auto;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 100%;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > h2{
        color: white;
        font-family: "Audiowide", sans-serif;
        font-size: 100%;
        margin-bottom: 5%;
        margin-top: 2%;
        text-align: center;
    }
    .flex-container > article > div{
        display: flex;
        width: 100%;
        justify-content: center;
        justify-content: space-between;
    }
    .flex-container > article > div > button{
        width: 30%;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 100%;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > form > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 25%;
    }
    .flex-container > article > form > #submitButton{
        width: 40%;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 100%;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
        margin: 5%;
    }
}

/*Small devices*/
@media only screen and (min-width: 426px) and (max-width: 768px){
    .flex-container{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .flex-container > div{
        display: flex;
        flex-direction: row;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 90%;
        padding: 2%;
        box-shadow: 0 0 5px black;
    }
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        width: 90%;
        padding: 2%;
        box-shadow: 0 0 5px black;
    }
    footer > a{
        display: none;
    }
    footer > img{
        width: 40%;
    }
    footer > div > a > img{
        width: 50px;
    }
    footer > h2:last-child{
        font-size: 15px;
    }
    .flex-container > div > h1{
        font-family: "Audiowide", sans-serif;
        font-size: 2rem;
        color: white;
        text-shadow: 0 0 4px black;
        text-align: center;
    }
    #content > img{
        width: 90%;
        margin-bottom: 0;
    }
    .flex-container > div > img{
        width: 40%;
        height: 10%;
    }
    .flex-container > div > #welcome{
        width: 100%;
        height: 40%;
    }
    #nav > button{
        display: none;
    }
    .flex-container > div > #collapse-nav{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .flex-container > div > #collapse-nav > #icon{
        align-self: flex-end;
        border-width: 10px;
        border-radius: 20px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 35%;
        height: 70%;
        font-size: 75px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .nav-button{
        border-width: 10px;
        border-radius: 20px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 100%;
        margin: 5px;
        font-family: "Audiowide", sans-serif;
        font-size: 40px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article{
        width: 93%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > img{
        width: 90%;
        height: 100%;
    }
    .flex-container > article > h1{
        font-family: "Audiowide", sans-serif;
        font-size: 3rem;
        color: white;
        text-shadow: 0 0 4px black;
        padding: 0%;
    }
    .flex-container > article > p{
        font-family: "Audiowide", sans-serif;
        font-size: 25px;
        text-align: center;
    }
    .flex-container> article > button{
        width: 30%;
        height: auto;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 40px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > h2{
        color: white;
        font-family: "Audiowide", sans-serif;
        font-size: 25px;
        margin-bottom: 5%;
        margin-top: 2%;
        text-align: center;
    }
    .flex-container > article > div{
        display: flex;
        width: 100%;
        justify-content: center;
        justify-content: space-between;
    }
    .flex-container > article > div > button{
        width: 30%;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 40px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > form{
        font-size: 150%;
    }
    .flex-container > article > form > div{
        display: flex;
        flex-direction: row;
    }
    .flex-container > article > form > #submitButton{
        width: 60%;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 40px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
        margin: 5%;
    }
}

/*Large devices*/
@media only screen and (min-width: 769px) and (max-width: 2100px){
    .flex-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .flex-container > div{
        display: flex;
        align-items: center;
        flex-direction: row;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 93vw;
        height: auto;
        padding: 2%;
        box-shadow: 0 0 5px black;
    }
    footer{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        width: 93vw;
        padding: 2%;
        box-shadow: 0 0 5px black;
    }
    footer > h2{
        margin-left: 5%;
        align-self: center;
        text-align: center;
    }
    footer > h2:last-child{
        width: 93vw;
        text-align: right;
    }
    footer > div{
        display: none;
    }
    .flex-container > div > h1{
        font-family: "Audiowide", sans-serif;
        font-size: 3rem;
        color: white;
        text-shadow: 0 0 4px black;
    }
    .flex-container > div > div{
        flex-direction: row;
    }
    .flex-container > div > div > button{
        border-width: 10px;
        border-radius: 20px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 300px;
        margin: 10px;
        font-family: "Audiowide", sans-serif;
        font-size: 25px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > div > #collapse-nav{
        display: none;
    }
    .flex-container > article{
        width: 97vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 10px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > h1{
        font-family: "Audiowide", sans-serif;
        font-size: 50px;
        color: white;
        text-shadow: 0 0 4px black;
        padding: 0%;
    }
    .flex-container > article > p{
        font-family: "Audiowide", sans-serif;
        font-size: 25px;
        text-align: center;
    }
    .flex-container> article > button{
        width: 200px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 25px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > h2{
        color: white;
        font-family: "Audiowide", sans-serif;
        font-size: 3rem;
        margin-bottom: 0%;
        margin-top: 2%;
    }
    .flex-container > article > div{
        display: flex;
        width: 100%;
        justify-content: center;
        justify-content: space-between;
    }
    .flex-container > article > img{
        width: 60%;
        height: auto;
    }
    .flex-container > article > div > button{
        width: 200px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 25px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > form{
        font-size: 150%;
    }
    .flex-container > article > form > div{
        display: flex;
        flex-direction: row;
    }
    .flex-container > article > form > #submitButton{
        width: 200px;
        border-width: 10px;
        border-radius: 20px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 25px;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
        margin: 5%;
    }
}

/*Extra Large devices*/
@media only screen and (min-width: 2101px){
    .flex-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .flex-container > div{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        border: solid 20px;
        border-width: 20px;
        border-radius: 30px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 94.5%;
        height: auto;
        padding: 2%;
        box-shadow: 0 0 5px black;
    }
    footer{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        border: solid 20px;
        border-width: 20px;
        border-radius: 30px;
        border-color: lightskyblue;
        background-color: lightblue;
        width: 94.5%;
        padding: 2%;
        box-shadow: 0 0 5px black;
    }
    footer > h2{
        margin-left: 5%;
        align-self: center;
        text-align: center;
        font-size: 4rem;
    }
    footer > h2:last-child{
        width: 93vw;
        text-align: right;
    }
    footer > div{
        display: none;
    }
    footer > img{
        width: 30%;
    }
    footer > a > img{
        width: 200px;
    }
    .flex-container > div > h1{
        font-family: "Audiowide", sans-serif;
        font-size: 6rem;
        color: white;
        text-shadow: 0 0 4px black;
    }
    .flex-container > div > img{
        width: 25%;
    }
    .flex-container > div > #welcome{
        width: 50%;
    }
    .flex-container > div > div{
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
    }
    .flex-container > div > div > button{
        border-width: 20px;
        border-radius: 30px;
        border-color: darkgreen;
        background-color: #55DD33;
        width: 500px;
        margin: 10px;
        font-family: "Audiowide", sans-serif;
        font-size: 3rem;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > div > #collapse-nav{
        display: none;
    }
    .flex-container > article{
        width: 98.5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 20px;
        border-width: 20px;
        border-radius: 30px;
        border-color: lightskyblue;
        background-color: lightblue;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > img{
        width: 60%;
        height: auto;
    }
    .flex-container > article > h1{
        font-family: "Audiowide", sans-serif;
        font-size: 6rem;
        color: white;
        text-shadow: 0 0 4px black;
        padding: 0%;
    }
    .flex-container > article > p{
        font-family: "Audiowide", sans-serif;
        font-size: 3rem;
        text-align: center;
    }
    .flex-container> article > button{
        width: 400px;
        border-width: 20px;
        border-radius: 30px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 6rem;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > h2{
        color: white;
        font-family: "Audiowide", sans-serif;
        font-size: 4rem;
        margin-bottom: 0%;
        margin-top: 2%;
    }
    .flex-container > article > div{
        display: flex;
        width: 100%;
        justify-content: center;
        justify-content: space-between;
    }
    .flex-container > article > div > button{
        width: 400px;
        border-width: 20px;
        border-radius: 30px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 6rem;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
    .flex-container > article > form > div{
        display: flex;
        flex-direction: row;
    }
    .flex-container > article > form > #submitButton{
        width: 400px;
        border-width: 20px;
        border-radius: 30px;
        border-color: lightskyblue;
        background-color: lightblue;
        font-family: "Audiowide", sans-serif;
        font-size: 6rem;
        color: white;
        text-shadow: 0 0 4px black;
        box-shadow: 0 0 5px black;
    }
}